<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Add Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Head content goes here -->
</head>

<body class="container mt-5">

	<!-- Voitures Section -->
	<h2>Voitures</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Marque</th>
				<th>Modele</th>
				<th>Matricule</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="voiture : ${voitures}">
				<td th:text="${voiture.id}"></td>
				<td th:text="${voiture.marque}"></td>
				<td th:text="${voiture.model}"></td>
				<td th:text="${voiture.matricule}"></td>
				<td><a th:href="@{/supprimer-voiture/{id}(id=${voiture.id})}" class="btn btn-danger"
						th:onclick="'deleteVoiture(' + ${voiture.id} + ')'">Supprimer</a></td>
			</tr>
		</tbody>
	</table>
	<p><a th:href="@{/ajouter-voiture}">Ajouter une nouvelle voiture</a></p>

	<!-- Add Bootstrap JS and Popper.js (required for Bootstrap) -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-U7UqEZ6KlOEe1gxgApn8+J+2QkeOhoheBltXf5/Fb6GPGphRvcmbt9ImDsnQD6h4"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>


</body>

</html>